#left-image {
  height: 350px;
  width: 350px;

  float: left;

  /* margin-right: 5px; */

}

.right-image {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

h3 {

  font-size: 20px;
  padding-top: 10px;
  color:lightseagreen

}

h5 {
  text-align: center;
  color: lightseagreen;

}

h6 {
  text-align: center;
  color:lightseagreen;
}

.comp-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



.navbar-brand {
  color:lightseagreen;

}

.carousel-inner {
  height: 200px;
  width: 300px;
  float: left;
}

.featured-image {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

/* MEDIA QUERY */

@media (max-width: 600px) {
  .navbar-brand {
    background-color: red;
    
  }
}